.titel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    

}
.inleiding {
    display: flex;
    border-radius: 10% 10% 10% 10%;
    color: blue;
    font-style: italic;

}
.Lars {
    display: flex;
    color: black;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
    
}
